<div class="refer-container">
    <a class="refer-buttons" href="/destinations/<%= @location.id %>">back</a>
    <a class="refer-buttons" href="/destinations/<%= @location.id %>/restaurants">restaurants</a>
</div>

<div class="show-page"> 
    <h1>Things-to-do: <%= @destination['results'][0]['formatted_address'] %></h1>

    <% @things.length.times do |num| %>
    	<p>Attraction name: <%= @things[num]['name'] %></p>
    	<% @things[num]['type'].each do |type| %>
    		<%= type %>
    	<% end %>
    	<p>Address: <%= @things[num]['formatted_address'] %></p>
    	<p>Rating: <%= @things[num]['rating'] %></p>
    <% end %>
</div>