<div class="refer-container">
    <a class="refer-buttons" href="/destinations/<%= @location.id %>">back</a>
    <a class="refer-buttons" href="/destinations/<%= @location.id %>/restaurants">restaurants</a>
</div>

<div class="show-page"> 
    <h1>Things-to-do: <%= @destination['results'][0]['formatted_address'] %></h1>

    <% @things.length.times do |num| %>
    	<p>Attraction name: <%= @things[num]['name'] %></p>
    	<% @things[num]['type'].each do |type| %>
    		<%= type %>
    	<% end %>
    	<p>Address: <%= @things[num]['formatted_address'] %></p>
    	<p>Rating: <%= @things[num]['rating'] %></p>
    <% end %>

    <script>
    function initialize() {
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap'
        };
                        
        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);
            
        // Multiple Markers 
    		var markers = [
          [<%= @things[0]['name'] %>, <%= @things[0]['geometry']['location']['lat'] %>,<%= @things[0]['geometry']['location']['lng'] %>],
          ['Palace of Westminster, London', 48.8583701,2.2944813]
      	];


        // Info Window Content
        var infoWindowContent = [
            ['<div class="info_content">' +
            '<h3>London Eye</h3>' +
            '<p>The London Eye is a giant Ferris wheel situated on the banks of the River Thames. The entire structure is 135 metres (443 ft) tall and the wheel has a diameter of 120 metres (394 ft).</p>' +        '</div>'],
            ['<div class="info_content">' +
            '<h3>Palace of Westminster</h3>' +
            '<p>The Palace of Westminster is the meeting place of the House of Commons and the House of Lords, the two houses of the Parliament of the United Kingdom. Commonly known as the Houses of Parliament after its tenants.</p>' +
            '</div>']
        ];
            
        // Display multiple markers on a map
        var infoWindow = new google.maps.InfoWindow(), marker, i;
        
        // Loop through our array of markers & place each one on the map  
        for( i = 0; i < markers.length; i++ ) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });
            
            // Allow each marker to have an info window    
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
        }

        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
            this.setZoom(14);
            google.maps.event.removeListener(boundsListener);
        });
        
    }
    </script>
</div>