<%= erb :'partials/_header' %>

<h1>THINGS-TO-DO: <%= @destination['results'][0]['formatted_address'] %></h1>

<% end %>
<% @things.length.times do |num| %>
	<p>Attraction name: <%= @things[num]['name'] %></p>
	<% @things[num]['type'].each do |type| %>
		<%= type %>
	<% end %>
	<p>Address: <%= @things[num]['formatted_address'] %></p>
	<p>Rating: <%= @things[num]['rating'] %></p>
<% end %>