<div class="refer-container">
	<a class="refer-buttons" href="/destinations/<%= @location.id %>">back</a>
	<a class="refer-buttons" href="/destinations/<%= @location.id %>/things-to-do">things to do</a>	
</div>

<div class="show-page">
	<h1>Nearby Restaurants: <%= @destination['results'][0]['formatted_address'] %></h1>

	<% @food['results'].length.times do |num| %>
		<p>Restaurant name: <%= @food['results'][num]['name'] %></p>
		<p>Price level: <%= @food['results'][num]['price_level'] %></p>
		<p>Rating: <%= @food['results'][num]['rating'] %></p>
		<% if current_user %>
			<form action='/'>
			</form>
		<% end %>
	<% end %>
</div>