<div class="destination-home-page">
	<h1 id="destination-title">where to?  <%= @destination['results'][0]['formatted_address'] %></h1>


	<%= erb :'partials/_map', layout: false, locals: {lat: @latitude, lng: @longitude} %>


<form class="rest-things-forms" action='/destinations/<%= @location.id %>/restaurants' method="get">
	<input id="restaurant-button" type="submit" value="nearby restaurants"/>
</form>
<form class="rest-things-forms" action='/destinations/<%= @location.id %>/things-to-do' method="get">
	<input type="submit" value="things to do">
</form>
	<% if current_user && !current_user.destinations.include?(@location) %>
		<form id="things-to-do-form" class="rest-things-forms" action="/destinations/<%= @location.id %>/users" method="post">
			<input type="submit" value="favorite"/>
		</form>
	<% end %>

	<% if current_user && current_user.destinations.include?(@location) %>
		<form class="rest-things-forms" action="/destinations/<%= @location.id %>/users/<%= current_user.id %>" method="post">
			<input type="hidden" name="_method" value="delete"/>
			<input type="submit" value="remove favorite"/>
		</form>
	<% end %>
</div>

